<span style="float:right; margin-top:10px">
        <a href="/contact/">
            <i class="icon-envelope-letter icons"></i>
        </a>
        <a href="https://twitter.com/alan01252">
            <i class="icon-social-twitter icons"></i>
        </a>
        <a href="https://github.com/alan01252">
            <i class="icon-social-github icons"></i>
        </a>
        <a href="https://www.linkedin.com/in/alan-hollis-b3335724">
            <i class="icon-social-linkedin icons"></i>
        </a>
</span>

<div style=" color:#0b203a;">

    <a href="/">
                <span
                        style="color:#0b203a; font-size: 70px; font-weight:bold;font-family: 'Dancing Script', cursive;">Alan
                    Hollis</span>

        <br>
    </a>

</div>