
{{ partial "head.html" . }}

<div class="container text-center center-block">

    <div class="page-content">
        <div class="row">
            <div class="col-4">
                <div class="card" style="font-family: 'Ledger', serif;">
                    <div class="card-block">
                        <h4 class="card-title">Software Dev</h4>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="font-family: 'Ledger', serif;">
                    <div class="card-block">
                        <h4 class="card-title">DevOps</h4>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="font-family: 'Ledger', serif;">
                    <div class="card-block">
                        <h4 class="card-title">IT Architecture</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;margin-bottom: 20px">


            <div class="col-12 align-middle" style=" color:#0b203a; display: inline-block;">
                <span class="ah-title"
                      style="">Alan
                    Hollis</span>
                <div class="contact" style="margin-bottom: 10px">

                    <a href="./contact/">
                        <i class="icon-envelope-letter icons"></i>
                    </a>
                    <a href="https://twitter.com/alan01252">
                        <i class="icon-social-twitter icons"></i>
                    </a>
                    <a href="https://github.com/alan01252">
                        <i class="icon-social-github icons"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/alan-hollis-b3335724">
                        <i class="icon-social-linkedin icons"></i>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-4">
                <div class="card" style="font-family: 'Ledger', serif;">
                    <div class="card-block">
                        <h4 class="card-title">IT Strategy</h4>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="font-family: 'Ledger', serif;">
                    <div class="card-block">
                        <h4 class="card-title">Marketing</h4>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="font-family: 'Ledger', serif;">
                    <div class="card-block">
                        <h4 class="card-title">App Building</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{ partial "foot.html" }}
